<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cocktails server</title>
  <link rel="stylesheet" href="./static/style.css"/>
</head>

<body>

  <h1>Cocktails</h1>

  <header>
    <a href="/">all</a>
    <a href="/?alcohol=gin">gin</a>
    <a href="/?alcohol=rum">rum</a>
    <a href="/?alcohol=vodka">vodka</a>
    <a href="/?alcohol=tequila">tequila</a>
  </header>

  <table>
    <thead>
      <th>Name</th>
      <th>Price</th> 
    </thead>
    <tbody>
      <% drinkList.forEach ( drink => { %>
        <tr>
          <td> 
            <%= drink.name %>
            <% if (drink.isAlcoholic === false) { %>
              <span> <em> (non-alcoholic) </em> </span>
            <% } %>
            <span> <br> <%= drink.contains%></span>
          </td>
          <td> <%= drink.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>

</html>