html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Markazi Text', serif;
  text-transform: uppercase;
}

.login-area {
  background: #fff;
  padding: 50px 100px;
  border-radius: 5px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 20px; 
}

input {
  padding: 10px;
  border-radius: 5px;
}
input:focus {
  outline-offset: none;
  outline-color: green;
}

button {
  padding: 20px 40px;
  background: black;
  color: white;
  border-radius: 30px;
}