body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3e94ec;
}

table {
  border-collapse: collapse;
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  color: #555;
  width: 800px;
  height: 500px;
}

th, td {
  padding: 0 30px;
}

tr {
  border-bottom: 2px solid #9ea7af;
}

thead {
  background: #1b1e24;
  border-bottom: 5px solid #9ea7af;
}

th {
  text-align: left;
  height: 100px;
  background: #1b1e24;
  color: #999;
}

.even {
  background: #ebebeb;
}

.odd {
  background: #ddd;
}

.bottom-left {
  border-bottom-left-radius: 10px;
}

.bottom-right {
  border-bottom-right-radius: 10px;
}

.top-left {
  border-top-left-radius: 10px;
}

.top-right {
  border-top-right-radius: 10px;
}

.first-column {
  border-right: 2px solid #9ea7af;
}