html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Poor Story', cursive;
}

body {
  background: rgba(184, 119, 23, 0.3);
  background-size: contain;
}

#get-titles, #get-full-list {
  min-height: 400px;
}

#get-titles {
  display: none;
}

#full-list-btn {
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
  height: 70px;
}

#header {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJVo6AOeK6-wW7kVbjwGQKlPNt1FJdatDFx-Iy5smdWkuCXCUf)
}

h3 {
  font-size: 70px;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  background: rgba(240, 204, 151, 0.6);
  margin: 0;
  padding: 20px;
}

p {
  margin: 0;
}

#inputs {
  min-width: 500px;
  font-size: 25px;
  margin: 0  30px;
  padding: 5px;
  border: 5px groove rgb(206, 162, 97);
}

#filter-tab {
  margin-top: 10px;
  display: flex;
  align-content: space-between;

  border-bottom: 1px groove black;
  border-top: 1px groove black;
}
/* table styles */
table {
  font-size: 20px;
}

th, td {
  min-width: 240px;
}

td {
  text-align: center;
}

tr:nth-child(2n) {
  background: rgba(233, 158, 44, 0.3);
}
/* button styles */
button {
  font-size: 18px;
  border-radius: 15px;
  outline: none;
  background: rgba(148, 90, 52, 0.466);
  font-size: 18px;
}

.div-sub-btn {
  margin: 10px;
}

.sub-btn {
  background: rgba(177, 141, 116, 0.466);
  padding: 5px;
  margin: 5px;
}

button:hover {
  filter: brightness(120%);
}

button:active {
  filter: brightness(80%);
}