body, html {
  background: #ffa366;
}

td {
  width: 100px;
  height: 30px;
  background: #dee;
  border: 1px solid black;
}

table {
  display: inline;
  margin-left: 100px;
}

.active {
  background: rgb(79, 184, 79);
  text-align: center;
}
